@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Urbanist", sans-serif;
}