@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');

:root {

    /* --- COLORS --- */

    /* bg */
    --color-neutral-bg-default: #ffffff;
    --color-neutral-bg-alt: #f5f5f5;

    /* text */
    --color-neutral-text-default: #52474B;
    --color-neutral-text-high: #171214;
    --color-accent-text-low: #de455c;
    --color-accent-text-mid: #D22D4D;

    /* components */
    --color-accent-bg-default: #FBDADA;
    --color-accent-bg-hover: #F7BBBE;

    /* borders */
    --color-accent-bord-focus: #D22D4D;

    /* --- FONTS --- */

    /* weights */
    --font-w-l: 700;
    --font-w-m: 500;
    --font-w-s: 400;

    /* line height */
    --font-lh-headings: 125%;
    --font-lh-body: 140%;

    /* -- size -- */

    /* headings / display */
    --font-heading-s-1: 2rem;

    /* body */
    --font-body-s-default: 1rem;
    --font-body-s-l: 1.125rem;

    /* --- SPACING --- */

    /* base unit */
    --spacing-unit: 4px;

    /* spacing */
    --spacing-2u: calc(var(--spacing-unit)*2);
    --spacing-4u: calc(var(--spacing-unit)*4);
    --spacing-6u: calc(var(--spacing-unit)*6);

}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
figure {
    display: inline-block;
    overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
}

html {
    font-family: "Urbanist", sans-serif;
}

/* --- GLOBAL STYLES --- */

/* headings */
h1 {
    font-size: var(--font-heading-s-1);
    font-weight: var(--font-w-l);
    line-height: var(--font-lh-headings);
    color: var(--color-neutral-text-high);
}

/* body text */
p, span {
    font-size: var(--font-body-s-default);
    font-weight: var(--font-w-s);
    line-height: var(--font-lh-body);
    color: var(--color-neutral-text-default);
}
.text-l-bold {
    font-size: var(--font-body-s-l);
    font-weight: var(--font-w-l);
    color: var(--color-accent-text-mid);
}

/* flex styles */
.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.perfect-center {
    justify-content: center;
    align-items: center;
}
.gap-l {
    gap: var(--spacing-6u);
}
.gap-m {
    gap: var(--spacing-4u);
}
.gap-s {
    gap: var(--spacing-2u);
}

/* containers */
.container-body {
    width: 100%;
    height: 100vh;
    background-color: var(--color-neutral-bg-alt);
}
.container {
    max-width: 84%;
    margin: 0 auto;
    background-color: var(--color-neutral-bg-default);
    border-radius: 32px;
    overflow: hidden;
    padding: var(--spacing-6u);
    box-shadow: 0px 12px 40px rgba(23, 18, 20, 0.04);
}

/* -- components -- */

/* button */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;

    font-size: var(--font-body-s-l);
    font-weight: var(--font-w-l);
    color: var(--color-accent-text-low);
}

/* ---- CSS ---- */

.header-img {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
}